.login-container {
    width: 100%;
    height: 100vh;
    background-color: #FE3F8D;
    box-shadow: 
  rgba(0, 0, 0, 0.432) 0px 0px 1000px 150px inset, 
  rgba(0, 0, 0, 0.267) 0px 0px 1000px 0px inset, 
  rgba(0, 0, 0, 0.250) 0px 0px 1000px 0px inset, 
  rgba(0, 0, 0, 0.70) 0px 0px 8px 2px, 
  rgba(0, 0, 0, 0.20) 0px 4px 4px, 
  rgba(0, 0, 0, 0.25) 0px 8px 6px, 
  rgba(0, 0, 0, 0.20) 0px 16px 10px, 
  rgba(0, 0, 0, 0.18) 0px 32px 20px;
}

.login-container .link-light {
  text-align: start !important;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .huella {
    width: 400px;
    top: 20px;
    left: 40px;
  }

  .paleta {
    width: 300px;
    bottom: 180px;
    right: 60px;
  }

  .vela {
    width: 300px;
    top: 60px;
    right: 60px;
  }

  .cactus {
    width: 300px;
    bottom: 130px;
    left: 60px;
  }
}

@media (max-width: 768px) {
  
}

@media (max-width: 480px) {
  
}
