.card-orders {
  position: absolute;       /* Necesario para usar top y left exactos */
  top: 339px;               /* Posición vertical */
  left: 840px;             /* Posición horizontal */
  width: 410px;
  height: 410px;
  border-radius: 12px;      /* Radio general arriba */
  border-bottom-left-radius: 8px;   /* Solo esquinas inferiores ajustadas */
  border-bottom-right-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #fff;
  text-align: center;
  font-family: Arial, sans-serif;
}

.card-orders__header {
  height: 50px;
  background-color: #ff3399; /* rosa fuerte */
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card-orders__body {
  margin: 0;
  padding: 40px 20px 30px;
}

.card-orders__image {
  width: 220px;
  height: 220px;
  margin: 0 auto 20px;
  object-fit: contain;
  display: block;
}

.card-orders__text {
  color: #999999;
  font-size: 25px;
  margin: 0;
  font-weight: 350;
}
