.total-balance-section {
    overflow-y: auto;
}

.grahpics{
    height: 300px;
}
.barGraphic{ 
    width: 500px;
    margin: 10px;
}

.rounded-circle {
    width: 70px;
    transition: all .5s;
    box-shadow: 1px 5px 12px 2px rgba(0, 0, 0, 0.164) inset;
    padding: 5px;
    transition: all .5s;
}

.rounded-circle:hover {
    transform: translateY(-5px);
    box-shadow: none;
}

.doughnutGraphic {
    width: 400px;
    height: 500px;
    margin: 10px;
}

.product-list-dashboard {
  overflow-y: scroll !important;
}

.product-list-dashboard .products-table-container {
  max-height: 500px !important; 
}